/* 
	CSS by Dan Høegh
	UCN MMD 2019 
*/

* {
	box-sizing: border-box;
	/* NOTHING ELSE GOES IN HERE */
	/* UNLESS YOU HAVE A REALLY GOOD REASON TO */
}

.flex {
	display: flex;
	align-content: space-between;
}

.flex-collapse-left {
	align-content: unset;
}

body {
	font-family: sans-serif;
	padding: 5vw;
	font-size: 4vw;
	line-height: 1.4;
}

.box {
	padding: 1vw;
}

.box-1 {
	background-color: #9f9;
}
.box-2 {
	background-color: #99f;
}
.box-3 {
	background-color: #f99;
}
.box-4 {
	background-color: #9ff;
}

@media (max-width: 640px) {
	.flex {
		display: block;
	}
}

@media (min-width: 641px) and (max-width: 1200px) {
	.box {
		width: 50%;
	}
	.flex {
		flex-wrap: wrap;
	}
}





















@media (min-width: 640px) {
	body {
		font-size: 1rem;
	}
}
